.header-content {
  width: clamp(400px, 40vw, 800px);

  background-color: var(--cream);
  padding: 40px;
  font-size: clamp(12px, 1vw, 16px);
  font-family: "Poppins", sans-serif;

  @media (max-width: 500px) {
    width: 100vw;
    margin: -40px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  h3 {
    color: var(--light-black);
    letter-spacing: rem(5);
    font-weight: $semiBold;
    font-size: 1em;
    margin-bottom: 10px;

    @media (max-width: 1200px) {
      font-size: 1.15em;
    }
  }

  h1 {
    font-weight: $bold;
    color: var(--dark-cream);
    font-size: 4.3em;
    line-height: 1.2;
    text-wrap: balance;
    margin-bottom: 17px;
  }

  p {
    font-weight: $medium;
    color: var(--light-black);
    font-size: 1.15em;
  }

  button {
    margin-top: 50px;
    font-weight: $bold;
    font-size: 1em;
    color: var(--white);
    border: none;
    background-color: var(--dark-cream);
    padding: 25px;
    width: 200px;
    cursor: pointer;
  }
}
